body
	margin: 0px
	padding: 0px
	font-family: sans-serif
	background: #fff
p
	font-size: 25px
	font-weight: 600
p
	margin: 20px
	display: flex
.block-one
	width: 100%
	height: 2000px
	color: #777
	background: #fff
.block-two
	width: 100%
	height: 285px
	color: #fff
	background: red
.block-three
	width: 100%
	height: 285px
	color: #fff
	background: blue