doctype html
html(lang="ru-RU")
	head
		title Hellow World
		link(rel="stylesheet", href="static/css/main.css")
	body
		.block-one
			p Block 1: Pariatur excepteur aliquip. 0
			p Block 1: Pariatur excepteur aliquip. 1
			p Block 1: Pariatur excepteur aliquip. 2
			p Block 1: Pariatur excepteur aliquip. 3
			p Block 1: Pariatur excepteur aliquip. 4
			p Block 1: Pariatur excepteur aliquip. 5
		.block-two
			p Block 2: Pariatur excepteur aliquip. 0
			p Block 2: Pariatur excepteur aliquip. 1
			p Block 2: Pariatur excepteur aliquip. 2
			p Block 2: Pariatur excepteur aliquip. 3
			p Block 2: Pariatur excepteur aliquip. 4
			p Block 2: Pariatur excepteur aliquip. 5